name: Update total downloads

on:
  schedule:
    - cron: '0 0 * * *' # daily
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Run update script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY_OWNER: ${{ github.event.repository.owner.login }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          python3 scripts/update_downloads.py
